body {
    margin: 0;
    padding: 0;
}

.page {
    opacity: 0;
    -webkit-animation: animatebottom 2s linear 2s forwards;
    animation: animatebottom 2s linear 2s forwards;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    -webkit-animation: spin 2s linear infinite, disapear 0.5s linear 2s forwards;
    animation: spin 2s linear infinite, disapear 0.5s linear 2s forwards;

}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        margin-top: 50px;
        opacity: 0
    }

    to {
        margin-top: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        margin-top: 50px;
        opacity: 0
    }

    to {
        margin-top: 0px;
        opacity: 1
    }
}

.disapear {
    position: relative;
    -webkit-animation-name: disapear;
    -webkit-animation-duration: 1s;
    animation-name: disapear;
    animation-duration: 1s;
}

@-webkit-keyframes disapear {
    from {
        bottom: -100px;
        opacity: 1;
        z-index: 1;
        
    }

    to {
        bottom: 0px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes disapear {
    from {
        bottom: -100px;
        opacity: 1;
        z-index: 1;
        
    }

    to {
        bottom: 0px;
        opacity: 0;
        z-index: -1;
    }
}

@keyframes slide {
    from {
        left: 95%;
        
    }

    to {
        left: 87%;
    }
}

@-webkit-keyframes slide {
    from {
        left: 95%;
        
    }

    to {
        left: 87%;
    }
}

@keyframes slide_price {
    from {
        right: 0;
        
    }

    to {
        right: 8%;
    }
}

@-webkit-keyframes slide_price {
    from {
        right: 0;
        
    }

    to {
        right: 8%;
    }
}


.header {
    width: 100%;
    margin-top: 20px;
}

.header_colonne {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logo img {
    height: 70px;
    width: auto;
}

.header_colonne i {
    font-size: 55px;
    color: black;

}

.header_colonne a :hover {
    color: #8a8a8a
}

.header_colonne a :active {
    color: #9356DC
}



.image_resto {
    margin-top: 20px;
    width: 100%;
}

.image_resto img {
    width: 100%;
    min-height: 800px;
    max-height: 10px;
    object-fit: cover;
}

.menu {
    width: 100%;
    background-color: #F6F6F6;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-block-start: -170px;
    position: relative;
    border-radius: 100px 100px 0px 0px;
}

.menu_titre_ligne {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.menu_titre {
    font-family: 'Shrikhand', sans-serif;
    font-size: 70px;
}

.menu_colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 100px;
}

.menu_titre_ligne i {
    font-size: 65px;
    user-select: none;
}


.coeur_plein {
    opacity: 0;
    font-size: 65px;
    position: relative;
    bottom: 143px;
    left: 86.5%;
    background: -webkit-linear-gradient(253deg, #9356DC, #FF79DA 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
}

.coeur_plein:active {
    display: inline-block;
    opacity: 1;
}

.coeur_plein:active::after {
    opacity: 1;
}

.menu_sous_titre {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 50px;
    width: 13%;
    border-bottom: solid #99E2D0 8px;
    margin-left: 5%;
}


.bouton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 50px 50px 50px 50px;
    width: 90%;
    column-gap: 5%;
    padding-bottom: 40px;
    padding-left: 40px;
    box-shadow: 3px 10px 15px #c4c4c4;
    max-height: 170px;
    opacity: 0;

    -webkit-animation: animatebottom 1s linear 3s forwards;
    animation: animatebottom 1s linear 3s forwards;

}


.nom_plat {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
}

.detail_plat {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
}

.prix {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bouton:after {
    content: '';
    position: relative;
    border-radius: 0px 50px 50px 0px;
    opacity: 0;
    bottom: 185px;
    right: -220px;
    margin-left: 565px;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    background-color: #99E2D0;
    padding: 96px 0% 120px;
}

.bouton:hover:after {
    display: block;
    opacity: 1;
    right: -36px;
    bottom: 185px;
    padding: 96px 10% 120px;
}

.bouton i
{
    color: white;
    opacity: 0;
    height: fit-content;
    width: fit-content;
    position: relative;
    font-size: 65px;
    left: 95%;
    bottom: 110px;
    z-index: 1;

}

.bouton:hover i {
    opacity: 1;
    display: inline-block;
    animation: spin 0.5s linear, slide 0.4s linear forwards;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bouton:hover:after i {
    display: block;
    opacity: 1;
}

.bouton:hover .nom_plat 
{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouton:hover:after .nom_plat 
{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouton:hover .detail_plat
{
    width: 73%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouton:hover:after .detail_plat
{
    width: 73%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bouton:hover .prix
{
    animation: slide_price 0.5s linear forwards;
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.bouton:hover:after .prix
{
    display: inline-block;
}

.explorer_centre {
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.explorer {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 50px;
    background: linear-gradient(353deg, #9356DC, #FF79DA);
    border: 0px;
    border-radius: 100px 100px 100px 100px;
    height: 160px;
    width: 550px;
    color: white;
    padding: 40px;
    box-shadow: 3px 10px 15px #c4c4c4;
}

.explorer:hover {
    background: linear-gradient(353deg, #9e5dee, #ff98e2);
    box-shadow: 3px 3px 15px #b6b6b6;
}

.explorer:active {
    background: linear-gradient(353deg, #7d4abb, #fa53cb);
    box-shadow: 3px 3px 15px #afafaf;
}

.footer {
    background-color: #353535;
    padding-top: 50px;
    height: 450px;
    position: sticky;
}

.footer_titre {
    font-family: 'Shrikhand', sans-serif;
    font-size: 45px;
    color: white;
    margin-left: 50px;
    margin-top: 10px;
}

.footer_colonne {
    margin-left: 50px;
}

.footer_liste {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 15px;

}

.footer_obj {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 40px;
}

.footer a {
    text-decoration: none;
    color: white;


}

.footer i {
    color: white;
    font-size: 35px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}